
<div class="main-vita"> 
    <div class="login-form">
        <div class="grid-vitarrico" [formGroup]="logInForm">
            <img  class="cssLogo"
                src="https://cdn.ebaumsworld.com/mediaFiles/picture/1015945/85210803.png"
                alt="logo">
            <mat-form-field class="full-width-input">
                <input type="text" formControlName="usuario" matInput placeholder="Username" id="usuario" required>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input type="password" formControlName="password" matInput placeholder="Password" id="password" required>
            </mat-form-field>
            
            <button mat-raised-button style="color: brown;" [disabled]="!logInForm.valid" (click)="logIn()">LOG IN</button>

        </div>
    </div>
</div>
