<div class="main-vita"> 
    <div class="login-form">
        <div class="grid-vitarrico">
            <img  class="cssLogo"
                src="https://cdn.ebaumsworld.com/mediaFiles/picture/1015945/85210803.png"
                alt="logo">
            <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Username" required>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <input type="password" matInput placeholder="Password" required>
            </mat-form-field>
            
            <button type="submit" mat-raised-button style="color: brown;">LOG IN</button>

        </div>
    </div>
</div>
