<p>
  <mat-toolbar style="background-color: darkgoldenrod;">
    <span style="font-family:'Fredoka', sans-serif; font-weight: bolder; font-size: 30px;">Vitarrico</span>
    <span class="spacer"></span>
    
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon> Menu</button>
    <mat-menu #menu="matMenu">
      <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['proveedores']"> <mat-icon>people_alt</mat-icon>Proveedores</a>
    <br><a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['productos']"> <mat-icon><span class="material-symbols-outlined">
      inventory_2
      </span></mat-icon>Productos</a>
      <button mat-menu-item>Clientes</button>
      <button mat-menu-item>Ventas</button>
    </mat-menu>

    <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['Home']"> <mat-icon>home</mat-icon> Home</a>

        <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['LogIn']"> <mat-icon>logout</mat-icon> Salir</a>
    
        <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['ContacUs']"> <mat-icon>call</mat-icon> Contact us</a>
  </mat-toolbar>
</p>