.title{
    background-color: rgb(219, 169, 31);
    border-radius: 5px;
}

.card-main{
    border: black 2px solid;
  margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    background: #fff; 
}